<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>后台管理</title>
    <link rel="stylesheet" href="$makeUrl('static','admin/common.css')" />
</head>
<body>
<div id="bodyDiv">
<div id="nav">
    <a href="$makeUrl('admin','index',{})">首页</a>
    <a href="$makeUrl('cms','list',{})">文章管理</a>
    <a href="$makeUrl('comment','list',{})">评论管理</a>
    <a href="$makeUrl('admin','logout',{})" onclick="return confirm('确认退出？')">退出</a>
    <a href="$makeUrl('index')" target="_blank">网站首页</a>
<div style="clear:both;"></div>
</div>