$def with (tplData)
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>登陆</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body>

<form action="/admin/check" method="post">
    账号： <input name="username" />(默认为admin)<br />
    密码： <input type="password" name="password" />(默认为tao)<br />
<input type="submit" name="submit" />
</form>
</body>
</html>