$def with (tplData)
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>upload</title>
</head>
<body>
<form action="$makeUrl('upload','upload',{})" id="form1" name="form1" encType="multipart/form-data"  method="post" >
    <input name="uploadFile" type="file" id="uploadFile" onchange="document.form1.submit()" >
    <input type="hidden" name="inid" value="1" />
</form>
</body>
</html>